@import "../../../../styles/config/breakpoints";

.imageUploader {
  aspect-ratio: 1/1;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  border: 2px dashed #d1d5db;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__imageContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    object-fit: cover;
    position: relative;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;

    .imageUploader__imageContainer:hover & {
      opacity: 1;
    }
  }

  &__overlayText {
    color: #fff;
  }

  &__input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__placeholder {
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__placeholderContent {
    pointer-events: none;
  }

  &__icon {
    margin: 0 auto;
    width: 85px;
    color: #d7d7d7;
    @include mq-max("tab") {
      width: 40px;
    }

    svg {
      width: 100%;
    }
  }

  &__uploadText {
    font-size: 0.875rem;
    color: #4b5563;
    margin-top: 4px;
  }

  &__uploadLabel {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    color: #4f46e5;

    &:hover {
      color: #4338ca;
    }
  }

  &__fileInfo {
    font-size: 0.625rem;
    margin-top: 4px;
    color: #9d9d9d;
    font-weight: 400;
  }
}
