.card_block {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.2s;
  &__image {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 10px;
    aspect-ratio: 16 / 9;
    img {
      border-radius: 5px;
      object-fit: cover;
      width: 100%;
    }
  }

  &__name {
    font-size: 1rem;
    font-weight: 700;
    color: #323232;
  }

  &__genre {
    font-size: 0.75rem;
    color: #323232;
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 12px;
    align-items: center;

    span {
      color: #323232;
    }
  }

  &__button {
    background: #DE616A;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &--plus {
      &::before {
        content: "";
        display: block;
        width: 40%;
        height: 40%;
        background: #fff;
        clip-path: polygon(0% 43%, 0% 57%, 43% 57%, 43% 100%, 57% 100%, 57% 57%, 100% 57%, 100% 43%, 57% 43%, 57% 0, 43% 0, 43% 43%);
      }
    }

    &--minus {
      &::before {
        content: "";
        display: block;
        width: 30%;
        height: 6%;
        background: #fff;
      }
    }

    &:hover {
      opacity: .8;
    }
  }
}
