:root {
  --primary-bg-color: #EFF1F5;
  --secondary-bg-color: #F7DEDC;
  --primary-font-color: #2d2d2d;
  --secondary-font-color: #a5a5a5;
  --primary-accent-color: #DE616A;
  --secondary-accent-color: #F7DEDC;
  --disabled-color: #a5a5a5;
  --default-font-family: "Noto Sans JP", var(--font-noto-sans-jp), "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", Meiryo, "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, Arial, sans-serif;
}
