html {
  font-size: 16px; 
}

body,
body * {
  font-family: var(--default-font-family);
}

body {
  color: var(--primary-font-color);
  background: var(--primary-bg-color);
  overflow: hidden;
  margin: 0;
}

main {
  height: calc(100svh - 65px);
  overflow-y: auto;

  @include mq-max("sp") {
    height: calc(100svh - 61px);
  }
}