
html {
  font-size: 16px; 
  font-family: "Noto sans JP", "Roboto", sans-serif;
}

body {
  color: var(--primary-font-color);
  background: var(--primary-bg-color);
  overflow: hidden;
}

main {
  height: calc(100% - 65px);
  overflow-y: auto;
}