@import "./reset.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #F7F7F7;
  --secondary-bg-color: #F7DEDC;

  --primary-font-color: #2d2d2d;
  --accent-color: #DE616A;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html {
  font-size: 16px;
}

body {
  color: var(--primary-font-color);
  background: var(--primary-bg-color);
  font-family: "Noto sans JP", sans-serif;
}

main {
  overflow-y: auto;
}
