.container_block {
  position: relative;
  padding: 32px;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-font-color);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
  }

  &__item {
    aspect-ratio: 2 / 3;
    cursor: pointer;
  }

  &__no_recipes {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-font-color);
    margin-top: 24px;
  }
}
