.container_block {
  padding: 50px;
  position: relative;

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #323232;
  }

  &__list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
