.card_block {
  padding: 8px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  color: #3b3b3b;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  align-items: center;
  flex: 1 1 0;
  gap: 8px;

  &:hover {
    background-color: #ddd;
  }

  &.current {
    border: 2px solid var(--primary-accent-color);
  }

  &__image {
    position: relative;
    width: 42px;
    img {
      object-fit: contain;
      position: relative !important;
    }
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: .02em;
    font-weight: 500;
    white-space: nowrap;
  }
}
