@import "@/app/styles/config/breakpoints";

.card_block {
  position: relative;
  padding: 8px;
  border: none;
  background-color: #fff;
  border-radius: 8px;
  color: #3b3b3b;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  display: flex;
  align-items: center;
  flex: 1 1 0;
  gap: 8px;
  @include mq-max("sp") {
    border-radius: 0px;
    border: none;
    justify-content: center;
    padding: 15px 10px;
  }

  &:hover {
    @include mq-min("tab") {
      background-color: #ddd;
    }
  }

  &.current {
    border: 2px solid var(--primary-accent-color);
    @include mq-max("sp") {
      border: none;
      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--primary-accent-color);
      }
    }
  }

  &__image {
    position: relative;
    width: 42px;
  }

  &__image_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: .02em;
    font-weight: 500;
    white-space: nowrap;
  }
}
