.container_block {
  background: #fff;
  height: 100%;
  width: 25%;
  padding: 20px;
  border-radius: 15px;
  
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  &__contents {
    margin-top: 12px;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 30px;
  }

  &__btn {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.5;
    background: var(--accent-color);
    max-width: 170px;
    width: 100%;
    border-radius: 10px;
    margin-top: auto;
    align-self: center;
    transition: opacity .2s;

    &:hover {
      opacity: .8;
    }

    button {
      text-align: center;
      padding: 13px 15px 14px;
      display: block;
      width: 100%;
      color: #fff;
      font-weight: 700;
    }
  }

  .ingredients_list {
    width: 100%;
    &__item {
      background: #fff;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 5px;
      padding: 10px 0;

      + .ingredients_list__item {
        border-top: 1px solid #e5e7eb;
      }
    }
    
    &__image {
      aspect-ratio: 16 / 9;
      display: block;
      position: relative;
      width: 70px;
      img {
        border-radius: 5px;
        object-fit: cover;
      }
    }

    &__name {
      color: var(--primary-font-color);
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.03em;
      line-height: 1.5;
    }

    &__quantity {
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 0.03em;
      line-height: 1.5;
      margin-left: auto;
    }
  }
}
