.header_block {
  background: var(--primary-bg-color);
  display: flex;
  align-items: center;

  &__inner {
    height: 70%;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon {
    padding: 10px;
    color: #fff;
    svg {
      width: 30px;
    }

    &--middle {
    margin-top: 60px;
    }

    &--foot {
      margin-top: auto;
    }

    &.is-active {
      background: var(--secondary-bg-color);
      border-radius: 5px;
    }
  }
}
