.container_block {
  display: flex;
  gap: 30px;
  padding-bottom: 100px;

  .side_block {
    max-width: 380px;
    width: 100%;

    .instructions_block {
      margin-top: 30px;

      &__title {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }

  .main_block {
    max-width: 815px;
    width: 100%;
  }

  .head_block {
    display: flex;
    justify-content: space-between;

    &__list {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 12px;
      border-radius: 5px;

      &--add {
        background: var(--primary-accent-color);
        color: #fff;
      }

      &--save {
        background: #fff;
        border: 1px solid var(--primary-accent-color);
        color: var(--primary-accent-color);
      }

      &--reset {
        background: #8f8f8f;
        color: #fff;
      }

      button {
        padding: 8px 20px 9px;
        font-weight: 500;
        font-size: 0.875rem;
      }
    }
  }

  .contents_block {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }

  .detail_block {
    flex: 1;
  }

  .ingredients_block {
    max-width: 250px;
    width: 100%;
  }
}
