@import "@/app/styles/config/device";
@import "@/app/styles/config/breakpoints";

.card_block {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  @include mq-max("sp") {
    border-radius: calc(4 / #{$device_sp} * 100vw);
  }

  &--small {
    .card_block__name {
      font-size: 0.875rem;
    }
  }

  &--medium {
    .card_block__name {
      font-size: 1rem;
      @include mq-max("sp") {
        font-size: calc(12 / #{$device_sp} * 100vw);
      }
    }
  }

  &--large {
    .card_block__name {
      font-size: 1.5rem;
    }
  }

  &:hover {
    .card_block__img {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    width: 100%;
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      transition: transform 0.3s ease;
    }
  }

  &__draft {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    padding: 2px 8px;
    background-color: #f3f4f6;
    color: #6b7280;
    border-radius: 4px;
    font-size: 0.75rem;
    margin-top: 4px;
    z-index: 2;
  }

  &__contents {
    padding: 5px 15px;
    @include mq-max("sp") {
      padding: calc(5 / #{$device_sp} * 100vw) calc(8 / #{$device_sp} * 100vw);
    }
  }

  &__name {
    font-size: 1rem;
    font-weight: bold;
    color: #323232;
    text-align: left;
  
  }

  &__genre {
    font-size: 0.875rem;
    color: #666;
    padding: 0 12px 12px;
    margin: 0;
  }

  &__ingredients {
  }

  &__ing_list {
  }

  &__ing_item {
  }

  &__step {
  }

  &__step_list {
  }

  &__step_item {
  }
}
