.container_block {
  width: 75%;

  .category_block {
    &__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.03em;
    }

    &__contents {
      display: flex;
      overflow: auto;
      gap: 10px;
      margin-top: 12px;
    }
  }

  .ingredient_block {
    margin-top: 32px;

    &__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.03em;
    }

    &__wrapper {
      margin-top: 12px;
      overflow-y: auto;
    }

    &__contents {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 12px;
      padding-bottom: 120px;
    }
  }
}
