@import "../../../styles/config/breakpoints";

.container_block {
  height: 100vh;
  display: flex;
  @include mq-max("sp") {
    height: 100%;
  }
  &__inner {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: var(--primary-bg-color);
    justify-content: space-between;

    @include mq-max("sp") {
      flex-direction: column;
      overflow: inherit;
    }
  }
}
