.container_block {
  height: 100vh;
  display: flex;
  &__inner {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: var(--primary-bg-color);
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
